# NRW Groundwater Data - OpenHygrisC Data Engineering

Data from <br>
**[LANUV](https://www.lanuv.nrw.de/): Landesamt für Natur, Umwelt und Verbraucherschutz Nordrhein-Westfalen** <br>
(State Office for Nature, Environment and Consumer Protection NRW)

* LANUV groundwater web pages: https://www.lanuv.nrw.de/umwelt/wasser/grundwasser

Groundwater data: https://www.lanuv.nrw.de/umwelt/wasser/grundwasser/grundwasserstand/grundwasserdaten-online

ELWAS-WEB NRW - Infos zu den Grundwasserkörpern (YouTube): https://www.youtube.com/watch?v=4wFKIu622rk

In the database HygrisC the LANUV provides groundwater quality and quantity data for most groundwater wells in NRW. The groundwater wells are partly owned and operated by NRW, partly by other parties. 
The measurement intervals are usually annual. Some groundwater well are sampled more frequently. 

WRRL: EU Wasserrahmenrichtlinie, EU Water Framework Directive

The quality data is based on chemical analyses of groundwater samples. The quantity data is based on groundwater level measurement.


OpenHygrisC Data: https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/

**Download the NRW groundwater data zip file**:
<br>
https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV.zip

The zip archive contains gw station info, a catalog of possible physico-chemical analysis parameters, and the measured data. 

## Coordinate Obfuscation 

Some coordinate data in the gw station info reveal difficulties. The coordinate reference system (CRS) used is the projected metric based 
EPSG:25832 ( ETRS89 / UTM zone 32N). 
The dataframe coordinate columns `e32` (easting) and `n32` (northing) are of data type object (not numeric). 

The resolution is 1m but many coordinates are obscurred because of privacy issues to a precision of 100m. A few coordinates are missing, i.e. either empty (nan) or filled with `xx`.


The coordinate columns e32 and n32 are of data type object/string. Four cases must be distinguished:

* Most strings are in a regular number format and can be converted to float right away (case (1) and (2) in the table)
* Other coordinate strings are obfuscated by replacing the two least significant decimal places with the characters "xx". This usually happens when a groundwater well is on private property. The coordinates are made less precise to respect privacy. The remaining coordinate information is still usable. The precision is limited to 100 meters. The uncertainty is +- 50m. (case (3) in the table)
* In some cases no coordinate infomation is given at all. In these cases the coordinate strings are just "xx". (case (4) in the table)
* In a very few cases the coordinate columns are empty, i.e. NaN (Null). (case (5) in the table)

The following table shows representative cases.


| case |   messstelle_id | e32    | n32     | grundstueck   |
|-----:|----------------:|-------:|--------:|:--------------|
|  (1) |        10000094 | 292868 | 5632572 | oeffentlich   |
|  (2) |        10000045 | 299399 | 5650595 | privat        |
|  (3) |        10000033 | 3070xx | 56583xx | privat        |
|  (4) |        47247101 | xx     | xx      |               |
|  (5) |        79921802 | nan    | nan     |               |

Case (1) and (2) have coordinate strings which can be immediately converted to integer or float with 1m precision. Case (3) shows coordinate obfuscation to a precision to 100m. The digits representing tens and ones are anonymized. Case (4) and (5) show useless coordinate information.  

How to deal with non-anonymized data:

"299399" (string, prec. 1) => 299399.0 (float) 

How to deal with anonymization:

307000 <= 3070xx <= 307099

"3070xx" (string, prec. 100) => 307050 (float, +- 50m)

In [1]:
#!conda env list

## Correct wrong `PROJ_LIB` environment variable value 

This problem seems to occur on Windows when using the OSGeo4W installer. The environment variable must point to a user specific directory and according to the activated conda environment, e.g. `PROJ_LIB=C:\Users\<username>\Anaconda3\envs\geo\Library\share\proj`

In [2]:
import os
os.environ['proj_lib']

'C:\\Program Files\\PostgreSQL\\15\\share\\contrib\\postgis-3.3\\proj'

In [3]:
# Correct wrong environment variable value occurring when using OSGeo4W installer
conda_prefix = os.environ['conda_prefix']
print(f"CONDA_PREFIX: {conda_prefix:s}")
os.environ['proj_lib'] = conda_prefix + r"\Library\share\proj"
proj_lib = os.environ['proj_lib']
print(f"New env var value: \nPROJ_LIB={proj_lib:s}")

CONDA_PREFIX: C:\Users\rb\Anaconda3\envs\geo3
New env var value:
PROJ_LIB=C:\Users\rb\Anaconda3\envs\geo3\Library\share\proj

## Imports

In [4]:
# CORRECT THE WRONG PYPROJ PATH FIRST! OTHERWISE GEOPANDAS DOES NOT LOAD!
import pandas as pd
import geopandas as gpd

## Data Directories and Files

In [5]:
data_in_dir = r"../data/OpenGeoData.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV/"
for elt in os.listdir(data_in_dir): print(elt)

Hinweise zu den bereitgestellten Grundwasserdaten.pdf
katalog_gemeinde.csv
katalog_stoff.csv
opendata.gw_chemischer_messwert.csv
opendata.gw_messstelle.csv

## GW Station Data

In [ ]:
gw_station_fname = r"opendata.gw_messstelle.csv"
gw_station_pfname = data_in_dir + gw_station_fname
print(f"Stationsdaten:  {gw_station_pfname:s}")

In [ ]:
df = pd.read_csv(gw_station_pfname, sep = ";", index_col=["messstelle_id"])

In [ ]:
df.sort_index(ascending=True, inplace=True)

In [ ]:
num_total = df.shape[0]
df.shape

In [ ]:
print(f"{pd.get_option('display.max_columns') = }")
pd.set_option("display.max_columns", None)
print(f"{pd.get_option('display.max_columns') = }")

In [ ]:
df.head()

In [ ]:
df[df["grundstueck"]=="oeffentlich"].head()

## Challenge: Coordinates obfuscation

The coordinate columns e32 and n32 are of data type string. Four cases must be distinguished:

(1) Most strings are in a regular number format and can be converted to float right away.

(2) Other coordinate strings are obfuscated by replacing the two least significant digits with the characters "xx". This usually happens when a groundwater well is on private property. The coordinates are made less precise to respect privacy. The remaining coordinate information is still usable. The precision is limited to 100 meters. The uncertainty is +- 50m. 

(3) In some cases no coordinate infomation is given at all. In these cases the coordinate strings are just "xx".

(4) In a very few cases the coordinate columns are empty, i.e. NaN (Null).

In [ ]:
# These four groundwater wells summarize the coordinate problems.
df_coord_problem=df.loc[[10000094, 10000045, 10000033, 47247101, 79921802],["e32","n32", "grundstueck"]]
df_coord_problem

In [ ]:
# forma table as markdown
#from tabulate import tabulate
#print(tabulate(df_coord_problem, tablefmt="pipe", headers="keys"))

|   messstelle_id | e32    | n32     | grundstueck   |
|----------------:|:-------|:--------|:--------------|
|        10000094 | 292868 | 5632572 | oeffentlich   |
|        10000045 | 299399 | 5650595 | privat        |
|        10000033 | 3070xx | 56583xx | privat        |
|        47247101 | xx     | xx      |               |
|        79921802 | nan    | nan     |               |

**Boolean indexes are used to filter the data according to the cases (1) to (4).**

In [ ]:
# Add column for precision
df["genau"] = 0

# (1) If the coord data is numeric then the precision is 1m
idx_coords_1m_prec = (df["e32"].str.isnumeric() == True)

# (3,4) Some stations don't have coordinates
# e32 and n32 strings are either NaN (Null) or "xx"
idx_coords_missing = (df["e32"].str.len() < 6) | (df["e32"].isnull() == True)

# (2) If coord data is avaliable but not numeric, then the numbers have been obscured with "XX" for the two least significant decimals.
idx_coords_100m_prec = ~idx_coords_missing &  ~(df["e32"].str.isnumeric() == True)

In [ ]:
df[idx_coords_missing]

**Convert the strings to floats where possible. No data values are represented as negative numbers.**

In [ ]:
df.loc[idx_coords_1m_prec,"e32num"] = df.loc[idx_coords_1m_prec,"e32"].astype(float)
df.loc[idx_coords_1m_prec,"n32num"] = df.loc[idx_coords_1m_prec,"n32"].astype(float)
df.loc[idx_coords_1m_prec, "genau"] = 1

In [ ]:
df.loc[idx_coords_100m_prec,"e32num"] = (df.loc[idx_coords_100m_prec,"e32"].str[:-2]+"50").astype(float)
df.loc[idx_coords_100m_prec,"n32num"] = (df.loc[idx_coords_100m_prec,"n32"].str[:-2]+"50").astype(float)
df.loc[idx_coords_100m_prec, "genau"] = 100

In [ ]:
df.loc[idx_coords_missing,"e32num"] = -999.9
df.loc[idx_coords_missing,"n32num"] = -999.9
df.loc[idx_coords_missing, "genau"] = -999

In [ ]:
# check if all records have been matched
num_of_1m_prec = df[df["genau"] == 1].shape[0]
num_of_100m_prec = df[df["genau"] == 100].shape[0]
num_of_no_prec = df[df["genau"] == -999].shape[0]

num_check = num_of_1m_prec + num_of_100m_prec + num_of_no_prec

print(f"total num of recs:                        {num_total:6d}")
print(f"number of recs with 1m coord precision:   {num_of_1m_prec:6d}")
print(f"number of recs with 100m coord precision: {num_of_100m_prec:6d}")
print(f"number of recs with no coords:            {num_of_no_prec:6d}")
print(f"check sum:                                {num_check:6d}")

assert num_check == num_total, "ERROR. Mismatch in numbers of stations"

**Save the original string as well as the derived numeric columns to a CSV file for checking externally.**

In [ ]:
df[["e32","e32num","n32","n32num","genau"]].to_csv("check.csv")
df[["e32","e32num","n32","n32num","genau"]]

## Geopandas

In [ ]:
import geopandas as gpd
from shapely.geometry import Point

In [ ]:
# remove records without coords
df2 = df[df["genau"] > 0]

In [ ]:
df2.shape

In [ ]:
%%time
gdf = gpd.GeoDataFrame(df2, geometry=gpd.points_from_xy(df2.e32num, df2.n32num), crs="EPSG:25832")

In [ ]:
gdf.info()

In [ ]:
gdf.head(3)

In [ ]:
%%time

# This takes 90 secs on my computer!

#gdf.to_file("GW_Stations.gpkg", layer='GW Stations', driver="GPKG")

## PostGIS, Inline SQL Magic: `create schema gw`

To store the data in PostGIS/PostgreSQL it is recommended to create a dedicated database "schema" (a kind of name space) to separate relations (tables, views), stored procedures, etc. from the rest of the database. Schemata help to organize the tables and access privileges clearly.

In [ ]:
#!conda install -c conda-forge ipython-sql

In [ ]:
%load_ext sql

In [ ]:
print("Connect")
%sql postgresql://env_master:M123xyz@localhost/env_db

In [ ]:
%%sql
SELECT * FROM information_schema.schemata

In [ ]:
%%sql
CREATE SCHEMA IF NOT EXISTS gw AUTHORIZATION env_master

In [ ]:
%%sql
SELECT * FROM information_schema.schemata;

## PostGIS: Upload GeoDataFrame with `gdf.to_postgis()`

Dependencies:
* psycopg2
* geoalchemy2

In [ ]:
#!conda install -c conda-forge geoalchemy2 psycopg2

In [ ]:
import sqlalchemy
engine = sqlalchemy.create_engine("postgresql://env_master:M123xyz@localhost/env_db")
# fast_executemany=True
# use_batch_mode=True

In [ ]:
%%time
gdf.to_postgis(con=engine, name="gw_stations", schema="gw", index=True, chunksize=100, if_exists="replace")

Create primary key!

In [ ]:
%%sql
alter table gw.gw_stations add constraint pk_gw_stations primary key (messstelle_id)

# Groundwater "Quality Data": Chemistry!

## Data Directories and Files

In [ ]:
gw_quality_fname = r"opendata.gw_chemischer_messwert.csv"
gw_quality_pfname = data_in_dir + gw_quality_fname
print(f"Qualitätsdaten: {gw_quality_pfname:s}")

In [ ]:
fh = open(gw_quality_pfname,"r", encoding = "utf-8", newline = '')
s = fh.readline()
s = s.replace('"', '').strip()
header_de = s[1:].split(';')
header_de

In [ ]:
%time df_qual = pd.read_csv(gw_quality_pfname, sep = ";", dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str }, nrows = 5)

In [ ]:
df_qual.head(5)

In [ ]:
df_qual.info()

**The complete CSV file with the measured values of the chemical analyses comprises more than 3.6 million measured values!**

In [ ]:
# Wall time: 13 s
%time df_qual = pd.read_csv(gw_quality_pfname, sep = ";", index_col=["sl_nr"], \
                            dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str }, \
                            parse_dates = ["datum_pn", "aktual_dat", "erstell_dat"])

In [ ]:
df_qual.shape

In [ ]:
df_qual.info()

In [ ]:
# duplicate sl_nr values? Can it be a unique index?
# Result should be empty
print(df_qual[df_qual.index.duplicated()])

## Time Series Example

In [ ]:
# time series example
# stoff_nr=1244 ->"Nitrat"
idx = (df_qual["messstelle_id"] == 20002129) & (df_qual["stoff_nr"] == 1244)
df_qual.loc[idx,["datum_pn", "messergebnis_c"]].sort_values("datum_pn")

### Tests for different measurement value string cases

```
(1)   "1.00" (is_float)
(2)  "<1.00" (is_less)
(3)  ">1.00" (is_greater)
```

In [ ]:
# check if string can be converted to float
def is_float(element: str) -> bool:
    try:
        float(element)
        return True
    except ValueError:
        return False

In [ ]:
# check if string starts with '<'
def is_less(element: str) -> bool:
    return element[0] == "<"

In [ ]:
# check if string starts with '>'
def is_greater(element: str) -> bool:
    return element[0] == ">"

In [ ]:
print("is_float()")
print(is_float("<1.234"))
print(is_float(">1.234"))
print(is_float("-1.234"))

In [ ]:
# Some test applications
print("is_less()")
print(is_less("<1.234"))
print(is_less(">1.234"))
print(is_less("1.234"))
print("is_greater()")
print(is_greater("<1.234"))
print(is_greater(">1.234"))
print(is_greater("1.234"))
print("is_float()")
print(is_float("<1.234"))
print(is_float(">1.234"))
print(is_float("1.234"))

In [ ]:
# Apply the tests and create Boolean indexes
%time idx_mess_is_float   = df_qual["messergebnis_c"].apply(is_float)
%time idx_mess_is_less    = df_qual["messergebnis_c"].apply(is_less)
%time idx_mess_is_greater = df_qual["messergebnis_c"].apply(is_greater)

In [ ]:
# Print records which are neither less nor greater nor float -> should be empty data frame
assert df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float].shape[0] == 0

# Dataframe should be empty
print(df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float])

In [ ]:
# res = (~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float).value_counts()
res = (idx_mess_is_less | idx_mess_is_greater | idx_mess_is_float).value_counts()
res

## Convert measurement results to float. Fill the limit column.

In [30]:
%time df_qual.loc[idx_mess_is_float,"messergebnis_num"] = df_qual.loc[idx_mess_is_float,"messergebnis_c"].astype(float)
%time df_qual.loc[idx_mess_is_float,"grenze"] = "="

%time df_qual.loc[idx_mess_is_less,"messergebnis_num"] = df_qual.loc[idx_mess_is_less,"messergebnis_c"].str[1:].astype(float)
%time df_qual.loc[idx_mess_is_less,"grenze"] = "<"

%time df_qual.loc[idx_mess_is_greater,"messergebnis_num"] = df_qual.loc[idx_mess_is_greater,"messergebnis_c"].str[1:].astype(float)
%time df_qual.loc[idx_mess_is_greater,"grenze"] = ">"

NameError: name 'df_qual' is not defined

NameError: name 'df_qual' is not defined

NameError: name 'df_qual' is not defined

NameError: name 'df_qual' is not defined

NameError: name 'df_qual' is not defined

NameError: name 'df_qual' is not defined

In [ ]:
print("Different values for column 'grenze'")
print(df_qual["grenze"].value_counts())

In [ ]:
df_qual[idx_mess_is_greater][["messergebnis_c", "messergebnis_num", "grenze"]].head()

In [ ]:
df_qual[idx_mess_is_less][["messergebnis_c", "messergebnis_num", "grenze"]].head()

In [ ]:
df_qual[idx_mess_is_float][["messergebnis_c", "messergebnis_num", "grenze"]].head()

In [ ]:
# Reason for not being float? XOR: A ^ B
#idx = (~idx_mess_is_float ^ idx_mess_is_less) # These are non-floats which are be less at the same time => greater
#df_qual[idx]

In [ ]:
# Reason for not being float? XOR
#idx = (~idx_mess_is_float ^ idx_mess_is_greater)
#df_qual[idx]

In [ ]:
df_qual[df_qual["messergebnis_num"]<0]

## Upload the data to the database with `df.to_sql()`

In [ ]:
import sqlalchemy
engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:M123xyz@localhost/env_db")

In [ ]:
# the default to_sql() / sqlalchemy method using psycopg2 (default PG driver) ...
# on my laptop:
# Approx. Wall time: 4min 32s 

%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="fail")
#%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace")

## Search for duplicates! Primary key is not straight forward!

In [6]:
%load_ext sql

In [7]:
print("Connect")
%sql postgresql://env_master:M123xyz@localhost/env_db

Connect

'Connected: env_master@env_db'

In [ ]:
%%sql
alter table gw.gw_meas add constraint pk_gw_meas primary key (messstelle_id, datum_pn, stoff_nr)

In [ ]:
%%sql
select * from gw.gw_meas where (messstelle_id, datum_pn, stoff_nr) = (73537317, '1990-08-17 00:00:00', 1061)

Is `sl_nr` unique?

In [ ]:
%%sql
select sl_nr,count(sl_nr) as count from gw.gw_meas group by sl_nr having count(sl_nr) > 1;

**`sl_nr` is a non-smart primary key ...**

In [ ]:
%%sql
alter table gw.gw_meas add constraint pk_gw_meas primary key (sl_nr)

## Create some indexes to improve database performance

In [ ]:
%%sql
create index idx_gw_meas_messstelle_id_datum_pn on gw.gw_meas (messstelle_id, datum_pn)

In [ ]:
%%sql
create index idx_gw_meas_datum_pn_meas_messstelle on gw.gw_meas (datum_pn, messstelle_id)

In [ ]:
%%sql
create index idx_gw_meas_stoff_nr on gw.gw_meas (stoff_nr)

In [ ]:
%%sql
create index idx_gw_meas_datum_pn_stoff_nr on gw.gw_meas (datum_pn, stoff_nr);

In [ ]:
%%time
%sql select count(*) from gw.gw_meas

In [ ]:
%%time
%sql select messstelle_id, datum_pn, count(*) as count from gw.gw_meas group by (messstelle_id, datum_pn) limit 20

**ATTENTION! 140515 anlyses were performed with more than one method!**

In [ ]:
#%%sql
#SELECT messstelle_id, datum_pn, stoff_nr, COUNT(*) AS Count
#FROM gw.gw_meas
#GROUP BY messstelle_id, datum_pn, stoff_nr
#HAVING COUNT(*) > 1;

In [ ]:
# %%sql
# SELECT t1.* from gw.gw_meas t1, gw.gw_meas t2 
# where 
# t1.messstelle_id = t2.messstelle_id
# and
# t1.datum_pn = t2.datum_pn
# and
# t1.stoff_nr = t2.stoff_nr
# and
# t1.verfahren <> t2.verfahren
# and

# t1.sl_nr = (select max(sl_nr) from gw.gw_meas t3 
# where
# t1.messstelle_id = t3.messstelle_id
# and
# t1.datum_pn = t3.datum_pn
# and
# t1.stoff_nr = t3.stoff_nr
# )

# limit 1000

# Import `katalog_stoff`

It is in another notebook!

In [52]:
%%sql
select * from gw.katalog_stoff where name like 'N%'

 * postgresql://env_master:***@localhost/env_db
60 rows affected.

[(1105, 'Neodym', None, '7440-00-8'),
 (1112, 'Natrium', None, '7440-23-5'),
 (1143, 'Niob', None, '7440-03-1'),
 (1188, 'Nickel', None, '7440-02-0'),
 (1244, 'Nitrat', None, None),
 (1245, 'Nitrat-Stickstoff', None, None),
 (1246, 'Nitrit', None, None),
 (1247, 'Nitrit-Stickstoff', None, None),
 (1567, 'Nichtionische Tenside', None, None),
 (2035, 'N,N-Dimethylformamid', None, '68-12-2'),
 (2036, 'N,N-Dibutylformamid', None, '761-65-9'),
 (2090, 'Nitrobenzol', None, '98-95-3'),
 (2228, 'Norflurazon', None, '27314-13-2'),
 (2277, 'Neburon', None, '555-37-3'),
 (2305, 'Naphthalin', None, '91-20-3'),
 (2322, 'Napropamid', None, '15299-99-7'),
 (2365, 'Nitrofen', None, '1836-75-5'),
 (2506, 'N-Ethylanilin', None, '103-69-5'),
 (2507, 'N,N-Diethylanilin', None, '91-66-7'),
 (2509, 'N-Methylanilin', None, '100-61-8'),
 (2510, 'N,N-Dimethylanilin', None, '121-69-7'),
 (2568, 'N,N-Dimethyl-4-pyridinamin', None, '1122-58-3'),
 (2600, 'Nitrilotriessigsäure (NTA)', None, '139-13-9'),
 (2617, 'N-Methyl-N-octyl-1-octanamin', None, '4455-26-9'),
 (2618, 'Nonan', None, '111-84-2'),
 (2641, 'Naproxen', None, '22204-53-1'),
 (2657, 'Nadolol', None, '42200-33-9'),
 (2788, 'Nicosulfuron', None, '111991-09-4'),
 (2837, 'N-Phenyl-2-naphthylamin', None, '135-88-6'),
 (2874, 'Nitromethan', None, '75-52-5'),
 (2888, 'Nonylphenol', None, '25154-52-3'),
 (2894, 'Nonylphenolethoxylate', None, None),
 (2926, 'Nafcillin', None, '147-52-4'),
 (4000, 'N,N-Dimethylsulfamid', None, '3984-14-3'),
 (4058, 'Nonylphenolmonoethoxylat', None, '104-35-8'),
 (4059, 'Nonylphenoldiethoxylat', None, '20427-84-3'),
 (4081, 'N-Nitroso-Dimethylamin', None, '62-75-9'),
 (4119, 'Naled', None, '300-76-5'),
 (4138, 'N-Acetyl-Sulfamethoxazol', None, '21312-10-7'),
 (4171, 'Natriumcyclamat', None, '139-05-9'),
 (4184, 'Niclosamid', None, '50-65-7'),
 (4198, 'Nitenpyram', None, '150824-47-8'),
 (4289, 'Norfloxacin', None, '70458-96-7'),
 (4349, 'N-Guanylharnstoff', None, '141-83-3'),
 (4351, 'N-Desethylvardenafil', None, '448184-46-1'),
 (4437, 'Nevirapin', None, '129618-40-2'),
 (4457, 'N,N-Didesvenlafaxin', None, '93413-77-5'),
 (4458, 'N4-Acetylsulfadiazin', None, '127-74-2'),
 (4459, 'N-Desvenlafaxin', None, '149289-30-5'),
 (4460, 'N-Ethylperfluoroctansulfonamid', None, '4151-50-2'),
 (4461, 'N-Methylperfluoroctansulfonamid', None, '31506-32-8'),
 (4462, 'N-Nitrosodibutylamin', None, '924-16-3'),
 (4463, 'N-Nitrosodiethylamin', None, '55-18-5'),
 (4464, 'N-Nitrosodipropylamin', None, '621-64-7'),
 (4465, 'N-Nitrosomethylethylamin', None, '10595-95-6'),
 (4466, 'N-Nitrosomorpholin', None, '59-89-2'),
 (4467, 'N-Nitrosopiperidin', None, '100-75-4'),
 (4468, 'N-Nitrosopyrrolidin', None, '930-55-2'),
 (4505, 'Nicosulfuron Metabolit ASDM', None, '112006-75-4'),
 (4506, 'Nicosulfuron Metabolit AUSN', None, '2307738-55-0')]

In [9]:
%%sql
alter table gw.katalog_stoff add constraint pk_kat_stoff primary key (stoff_nr)

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [11]:
%%sql
create index idx_kat_stoff_name on gw.katalog_stoff (name)

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [16]:
%%sql
select * from gw.gw_stations limit 3

 * postgresql://env_master:***@localhost/env_db
3 rows affected.

[(10000008, 70796, 'P3-BSR/Mariaschacht P 5 neu', '3068xx', '56254xx', 1.0, ' ', '05334032', None, None, None, None, 'GW-Beschaffenheit               ', '01.07.2016', '282_11', '01.07.2016', '282_11', 'RWÜ (Messstelle f. GWÜ geeignet)', 'monatlich', 'nein', 'nein', 'nein', 'ja', 'ja', 'nein', 'nein', 'GW-Messstelle                   ', 'keine Angabe', '-', '-', 'BSR Schotterwerk                                  ', 'Enwor GmbH                                        ', 700.0, None, 80.0, None, 1570.0, 21053.0, 20353.0, 100, 306850.0, 5625450.0, '0101000020E86400000000000088BA1241000000809A755541'),
 (10000010, 1, 'SCHERPENSEEL NR 1  ', '2935xx', '56452xx', 1.0, 'privat', '05370028', ' 6D', 'Neurather Sand', None, None, 'LGD                             ', '01.07.2016', '28_04', '01.07.2016', '28_04', 'Grundwassergüteüberwachung', 'Messstelle besteht nicht mehr', 'ja', 'ja', 'nein', 'ja', 'ja', 'nein', 'nein', 'GW-Messstelle                   ', 'keine Angabe', '-', '-', 'Land NRW                                          ', 'keine Angabe                                      ', 400.0, None, 100.0, None, 4936.0, 7731.0, 7331.0, 100, 293550.0, 5645250.0, '0101000020E864000000000000B8EA114100000080F0885541'),
 (10000021, 2, 'Bellinghoven Nr. 2 ', '312776', '5660432', 1.0, 'privat', '05370004', '14', 'Ältere Hauptterrassen', None, None, 'LGD                             ', '01.07.2016', '286_07', '01.07.2016', '286_07', None, 'Messstelle inaktiv', 'ja', 'nein', 'ja', 'ja', 'nein', 'nein', 'nein', 'Schachtbrunnen                  ', None, None, '-', 'keine Angabe                                      ', 'keine Angabe                                      ', None, None, 1000.0, None, 1411.0, 7885.0, 7885.0, 1, 312776.0, 5660432.0, '0101000020E8640000000000002017134100000000C4975541')]

# Create Views!

In [77]:
%%sql
drop view gw.v_gw_stations_wrrl_chemie

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [78]:
%%sql
create view gw.v_gw_stations_wrrl_chemie as
select * from gw.gw_stations 
where im_wrrl_messnetz_chemie = 'ja'
and freigabe_chemie = 'ja'

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [79]:
%%sql
select count(*) from gw.v_gw_stations_wrrl_chemie

 * postgresql://env_master:***@localhost/env_db
1 rows affected.

[(1501,)]

In [20]:
%%sql
select geometry, messstelle_id, name, genau, im_wrrl_messnetz_chemie, im_wrrl_messnetz_wasserstand from gw.gw_stations
limit 10

 * postgresql://env_master:***@localhost/env_db
10 rows affected.

[(10000008, 'P3-BSR/Mariaschacht P 5 neu', '0101000020E86400000000000088BA1241000000809A755541', 100, 'nein', 'nein'),
 (10000010, 'SCHERPENSEEL NR 1  ', '0101000020E864000000000000B8EA114100000080F0885541', 100, 'nein', 'nein'),
 (10000021, 'Bellinghoven Nr. 2 ', '0101000020E8640000000000002017134100000000C4975541', 1, 'nein', 'nein'),
 (10000033, 'Doveren Nr. 3      ', '0101000020E864000000000000A8BD124100000080BB955541', 100, 'nein', 'nein'),
 (10000045, 'Geilenkirchen Nr. 5', '0101000020E8640000000000001C461241000000C0288E5541', 1, 'nein', 'nein'),
 (10000057, 'Lindern Nr. 6      ', '0101000020E8640000000000005890124100000080A7905541', 100, 'nein', 'nein'),
 (10000069, 'Dürboslar Nr. 8    ', '0101000020E8640000000000000CB51241000000C0AF865541', 1, 'nein', 'nein'),
 (10000070, 'Freiwald Nr. 9     ', '0101000020E864000000000000904D134100000000E0895541', 1, 'nein', 'nein'),
 (10000082, 'HERZOGENRATH Nr.10 ', '0101000020E864000000000000E8041241000000C0B8825541', 1, 'nein', 'ja'),
 (10000094, 'Richterich Nr. 11  ', '0101000020E86400000000000010E01141000000008F7C5541', 1, 'nein', 'nein')]

In [26]:
%%sql
select *
from gw.gw_meas
limit 1

 * postgresql://env_master:***@localhost/env_db
1 rows affected.

[(2903561, 59620687, '5/2005/4599', datetime.datetime(2005, 10, 18, 0, 0), 1164, 'Grundwasser', '22.00000', None, None, 'µg/l', 'Gesamtgehalt', 'DIN 38406-E22 MAERZ 1988', ' ', 'HYGC_BR-AR', datetime.datetime(2005, 12, 5, 0, 0), datetime.datetime(2005, 12, 5, 0, 0), 22.0, '=')]

In [31]:
%%sql
select sl_nr, messstelle_id, stoff_nr, datum_pn, grenze, messergebnis_num, masseinheit 
from gw.gw_meas
limit 3

 * postgresql://env_master:***@localhost/env_db
3 rows affected.

[(2903561, 59620687, 1164, datetime.datetime(2005, 10, 18, 0, 0), '=', 22.0, 'µg/l'),
 (2903564, 59620687, 1061, datetime.datetime(2005, 10, 18, 0, 0), '=', 6.8, '-'),
 (2903565, 59620687, 1011, datetime.datetime(2005, 10, 18, 0, 0), '=', 12.8, '°C')]

In [43]:
%%sql
select 
st.geometry, st.messstelle_id, st.name, st.genau, st.im_wrrl_messnetz_chemie, st.im_wrrl_messnetz_wasserstand,
m.sl_nr, m.stoff_nr,  p.name as stoffname, m.datum_pn, m.grenze, m.messergebnis_num, m.masseinheit
from gw.gw_stations st, gw.gw_meas m, gw.katalog_stoff p
where st.messstelle_id = m.messstelle_id
and m.stoff_nr = p.stoff_nr
limit 2

 * postgresql://env_master:***@localhost/env_db
2 rows affected.

[('0101000020E86400000000000030E61841000000403BB75541', 59620687, 'Iserlohn Friedhof  ', 1, 'nein', 'nein', 2903561, 1164, 'Zink', datetime.datetime(2005, 10, 18, 0, 0), '=', 22.0, 'µg/l'),
 ('0101000020E86400000000000030E61841000000403BB75541', 59620687, 'Iserlohn Friedhof  ', 1, 'nein', 'nein', 2903564, 1061, 'pH-Wert', datetime.datetime(2005, 10, 18, 0, 0), '=', 6.8, '-')]

In [53]:
%%sql
drop view gw.gw_station_series

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [82]:
%%sql
create or replace view gw.gw_station_series as
select 
m.sl_nr as fid, st.geometry, st.messstelle_id, st.name, st.genau, st.im_wrrl_messnetz_chemie, st.im_wrrl_messnetz_wasserstand,
m.sl_nr, m.stoff_nr,  p.name as stoffname, m.datum_pn, m.grenze, m.messergebnis_num, m.masseinheit
from gw.gw_stations st, gw.gw_meas m, gw.katalog_stoff p
where st.messstelle_id = m.messstelle_id
and m.stoff_nr = p.stoff_nr
order by messstelle_id, stoff_nr, datum_pn

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [59]:
%%sql
select * from gw.katalog_stoff where name = 'Nitrat'

 * postgresql://env_master:***@localhost/env_db
1 rows affected.

[(1244, 'Nitrat', None, None)]

In [61]:
%%sql
drop view gw.gw_station_nitrat_series

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [69]:
%%sql
select distinct (im_wrrl_messnetz_chemie) from gw.gw_stations

 * postgresql://env_master:***@localhost/env_db
2 rows affected.

[('nein',), ('ja',)]

In [73]:
%%sql
drop view gw.v_gw_station_nitrat

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [74]:
%%sql
create or replace view gw.v_gw_station_nitrat as
select 
m.sl_nr as fid, st.geometry, st.messstelle_id, st.name, st.genau, st.im_wrrl_messnetz_chemie, st.im_wrrl_messnetz_wasserstand,
m.sl_nr, m.stoff_nr,  p.name as stoffname, m.datum_pn, m.grenze, m.messergebnis_num, m.masseinheit
from gw.gw_stations st, gw.gw_meas m, gw.katalog_stoff p
where st.im_wrrl_messnetz_chemie = 'ja'
and p.name = 'Nitrat'
and m.stoff_nr = p.stoff_nr
and st.messstelle_id = m.messstelle_id
order by messstelle_id, stoff_nr, datum_pn

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [80]:
%%sql
create or replace view gw.v_gw_station_sulfat as
select 
m.sl_nr as fid, st.geometry, st.messstelle_id, st.name, st.genau, st.im_wrrl_messnetz_chemie, st.im_wrrl_messnetz_wasserstand,
m.sl_nr, m.stoff_nr,  p.name as stoffname, m.datum_pn, m.grenze, m.messergebnis_num, m.masseinheit
from gw.gw_stations st, gw.gw_meas m, gw.katalog_stoff p
where st.im_wrrl_messnetz_chemie = 'ja'
and p.name = 'Sulfat'
and m.stoff_nr = p.stoff_nr
and st.messstelle_id = m.messstelle_id
order by messstelle_id, stoff_nr, datum_pn

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [81]:
%sql select count(*) from gw.v_gw_station_sulfat

 * postgresql://env_master:***@localhost/env_db
1 rows affected.

[(56527,)]

## Exercises

1) Add the PostGIS table `gw.gw_stations` as vector layer to QGIS.

2) Use df.to_sql() to upload the table with the catalog (file `katalog_stoff.csv` in the data directory) of the analyzed quantities (substances, physico-chemical parameters, e.g. NO3- concentation (nitrate), pH, air temperature (can be neg.), etc.)

3) Add the catalog with municipalities (file `katalog_gemeinde.csv`)

4) SQL: Create a view joining the gw station table with gw meas table and gw parameter table. (A bit difficult. We have not discussed it yet.)

5) Create a reduced view for nitrate only joining the gw station table with gw meas table and gw parameter table.

6) Try to get the station-nitrate table into QGIS using the PostGIS interface.

SQL: Before you create the views create primary keys for the tables. i.e. `(messstelle_id)` for `gw_stations`, 
`(messstelle_id, stoff_nr, pna_datum)` for `gw_meas`.